/node_modules


# Logs
electron/logs
electron/*.log

# Runtime data
electron/pids
electron/*.pid
electron/*.seed

# Coverage directory used by tools like istanbul
electron/coverage
electron/.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
electron/node_modules

# OSX
electron/.DS_Store

electron/release/app/dist
electron/release/build
electron/.erb/dll

electron/.idea
electron/npm-debug.log.*
electron/*.css.d.ts
electron/*.sass.d.ts
electron/*.scss.d.ts
