*,
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    --primary-color: #165df5;
    --secondary-color: #9c16f5;
    --success-color: #12b23a;
    --warning-color: #c3b304;
    --danger-color: #ad0d0d;
    --disabled-color: #4b4b4baf;
    --disabled-text-color: #2f2f2faf;

    --ui-red: #00c0ba;
    --ui-black: #1D2223;
    --ui-white: #FFFFFF;
}