.card {
  width: 70%;
  margin: auto;
  padding: 32px 43px 8px 43px;
  margin-bottom: 80px;

  h1 {
    color: #C00000;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.05em;
    font-weight: 5000;
    line-height: 25px;
    margin: 0;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    // padding: 32px 16px 8px 16px;
  }
}
