.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white !important;

  a {
    font-family: 'Roboto';
    text-decoration: underline;
    margin: 12px 0 12px 83px;
  }

  a:nth-child(1) {
    margin-top: 24px;
  }

  p {
    font-family: 'Abel';
    text-align: center;
    margin-top: 12px;
    margin-bottom: 28px;
  }
}