main {
  section:nth-child(1) {
    background-image: url('../public/home.svg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    width: 100%;
  }

  section:nth-child(2) div {
    position: relative;
    top: -15vh;
    width: 60%;
    margin: auto;
    background-color: white;
  }
}