main {
  background-color: #F5F5F5;
  height: auto;
  min-height: 50vh;

  .loginCard {
    width: 30%;
    margin: auto;

    a.back {
      padding-left: 10px;

      .arrow {
        color: red;
      }
    }

    .loginForm {
      background-color: white;
      padding: 16px;
      margin-top: 16px;

      h1 {
        color: #C00000;
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 21px;
        letter-spacing: 0.05em;
        font-weight: 5000;
        line-height: 25px;
        margin: 0;
        margin-bottom: 8px;
      }
    
      .input-field-container {
        margin: 12px 0;
      }
    
      button {
        margin-top: 36px;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  main {
    .loginCard {
      width: 100%;
      margin: 0;
      padding: 0 16px;
      
      a.back{
        padding-top: 20px;
      }
    }

  }
}