.success-register-card {
  background-color: #F9F9F9;

  .success-register-message {
    font-family: 'Abel';
    font-size: 16px;
    line-height: 20px;
    padding: 16px 16px 0 16px;
    margin: 0;
  }

  .stores {
    display: flex;
    justify-content: space-around;
    padding: 42px 0;

    .store {
      height: 52px;
      width: 180px;
    }
  }
}

@media screen and (max-width: 992px) {
  .success-register-card {
    .stores {
      flex-direction: column;
      align-items: center;

      .store {
        margin-bottom: 16px;
      }
    }
  }
  
}