main.login {
  background-color: #F5F5F5;
  height: auto;

  .loginCard {
    width: 30%;
    margin: auto;
    padding-top: 5vh;

    a.back {
      padding-left: 10px;

      .arrow {
        color: var(--ui-red);
      }
    }

    .loginForm {
      background-color: var(--ui-white);
      padding: 16px;
      margin-top: 16px;

      h1 {
        color: var(--ui-red);
        text-transform: uppercase;
        font-size: 21px;
        letter-spacing: 0.05em;
        font-weight: 5000;
        line-height: 25px;
        margin: 0;
        margin-bottom: 8px;
      }

      .input-field-container {
        margin: 12px 0;
      }

      button {
        margin-top: 36px;
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  main.login {
    .loginCard {
      width: 100%;
      margin: 0;
      padding: 40px 16px;

      a.back {
        padding-top: 20px;
      }
    }

  }
}