@import url('../../assets/main.css');


button,
button.m {
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
}

.button:active {
    margin-top: 10px;
}

button.s {
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}

button.l {
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 10px;
}


.flat-button {
    border: none;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white;
}

.outline-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.flat-button.primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.flat-button.secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.flat-button.success {
    background-color: var(--success-color);
    border: 2px solid var(--success-color);
}

.flat-button.warning {
    background-color: var(--warning-color);
    border: 2px solid var(--warning-color);
}

.flat-button.danger {
    background-color: var(--danger-color);
    border: 2px solid var(--danger-color);
}

.outline-button.primary {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.outline-button.secondary {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.outline-button.success {
    border: 2px solid var(--success-color);
    color: var(--success-color);
}

.outline-button.warning {
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}

.outline-button.danger {
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}

.flat-button.disabled {
    background-color: var(--disabled-color);
    border: 2px solid transparent;
    color: var(--disabled-text-color);
}

.outline-button.disabled {
    border: 2px solid var(--disabled-color);
    color: var(--disabled-text-color);
}