.table-container{
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.table-container .table-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
}

.table-container .table-header .table-header-cell{
  min-width: 210px;
  width: auto;
  padding: 10px;
}

.table-container .table-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #e0e0e0;
}

.table-container .table-row .table-row-cell{
  min-width: 210px;
  width: auto;
  padding: 10px;
}